nav.navbar.navbar-dark.bg-inverse

  a.navbar-brand(href=pathRoot) shouldhave.js

  ul.nav.navbar-nav
    li.nav-item
      .nav-link Everything JavaScript should have.


  ul.nav.navbar-nav.pull-right
    //- - className = false ? "active" : ''
    //- li.nav-item(class=className)
    //-   a.nav-link(href=pathRoot+'/about')
    //-     = 'About'

    - className = false ? "active" : ''
    li.nav-item(class=className)
      a.nav-link(href=pathRoot+'/docs') Docs

    - className = false ? "active" : ''
    li.nav-item(class=className)
      a.nav-link(href=githubUrl) Code
