html(lang="en")
  head
    title= title
    meta(name='description', content=description)
    link(rel="stylesheet" href=pathRoot+"/highlight.css")
    link(rel="stylesheet" href=pathRoot+"/main.css")
    script(src=pathRoot+"/jquery.js")
    script(src=pathRoot+"/bootstrap.js")
  body

    include _header.jade

    h1= title
    p= description
    != contents
